<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/adminnlog.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>


<div id="header">
    <div class="drop-shadow">
    <div class="glass"></div>
    <span>Inventory Control</span>
    </div>
</div>


    <div class="login">
        <h2 class="active"> Login-In </h2>


        <form action="", method=POST>
            {% csrf_token %}
    
          <input type="text" class="text" name="username">
           <span class="logtext">User Id</span>
      
          <br>
          
          <br>
      
          <input type="password" class="text" name="password">
          <span class="logtext">Password</span>
          <br>
          
          <button type="submit" class="loginbtn">
            Log In
          </button>
      
        </form>
      
      </div>

<footer class="footer">
    <div class="fcontainer">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>
