<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/homee.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<div id="header">
    <div class="drop-shadow">
    <div class="glass"></div>
    <span>Inventory Control</span>
    </div>
</div>

<div class="container">

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <img src="../static/images/inventory.png" alt="InventoryIcon">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="Inventory" target="_blank">Inventory</a>
                </h3>
                <p>Monitor Existing Stock Details & Add New Batch of Products to Inventory.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <img src="../static/images/billing.png" alt="BillingIcon">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="Billing" target="_blank">Billing</a>
                </h3>
                <p>Bill Products bought by the Customers and Access thier Invoives.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <img src="../static/images/insights.png" alt="InsightsIcon">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="Insights" target="_blank">Insights</a>
                </h3>
                <p>View Valuable and Crucial Insights Analyzed from User and Product Data.</p>
            </div>
        </div>
    </div>

</div>


<div class="container">

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <img src="../static/images/salessummary.png" alt="SalesSummaryIcon">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="SalesSummary" target="_blank">Sales Summary</a>
                </h3>
                <p>View Sales-Report of the Day & also View Past Records by Changing Dates.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <img src="../static/images/cashhandling.png" alt="CashHandlingIcon">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="CashHandling" target="_blank">Cash Handling</a>
                </h3>
                <p>Enter Cash Details to Maintain a Record & Moniter the Cash-Flow.</p>
            </div>
        </div>
    </div>
    
</div>



<footer class="footer">
    <div class="fcontainer">
        <div class="row">
            <div class="footer-col">
                <h4>Sections</h4>
                <ul>
                    <li><a href="../Home/Inventory">Inventory</a></li>
                    <li><a href="../Home/Billing">Billing</a></li>
                    <li><a href="../Home/Insights">Insights</a></li>
                    <li><a href="../Home/SalesSummary">Salees Summary</a></li>
                    <li><a href="../Home/CashHandling">Cash Handling</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get-Help</h4>
                <ul>
                    <li><a href="#">Trouble-Shooting</a></li>
                    <li><a href="#">Instructions</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
    
</html>